.services_container {
    height: 500px;
    background-color: #f0f0f0;
    text-align: center;
    overflow: hidden;

    & .services_title {
        margin-top: 50px;
        font-size: 32px;
        font-weight: bold;
        color: #333;
    }

    & .services_list {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 50px;

        & .services_items {
            width: 250px;
            margin: 0 50px;

            & svg {
                width: 80px;
                height: 80px;
                color: #0077b5;
            }

            & h4 {
                color: #0077b5;
                font-size: 24px;
                font-weight: bold;
                margin: 20px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .services_container {
        height: auto;

        & .services_list {
            flex-direction: column;
            margin: 50px 0;

            & .services_items {
                width: 100%;
                margin: 20px 0;
                padding: 20px;
            }
        }
    }
}