& .projects_container {
    max-width: 1200px;
    margin: 0 auto;
    height: 900px;
    overflow: hidden;

    & .projects_title {
        margin-top: 60px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }

    & .projects_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        & .projects_item {
            margin-top: 40px;

            & img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

            & p {
                font-size: 18px;
                font-weight: bold;
                margin: 10px 0;
            }
        }
    }
}