.skills_container {
    height: 250px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    overflow: hidden;

    & .skills_title {
        margin-top: 50px;
        font-size: 32px;
    }

    & .skills_list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 20px;

        & li {
            margin: 0 20px;

            & svg {
                width: 80px;
                height: 80px;
            }
        }
    }
}