nav {
    background-color: #0077b5;

    & a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0 1rem;
    }

    & .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    & .navbar {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .logo {
        & a {
            text-decoration: none;
            font-weight: bold;

        }
    }

    & ul {
        list-style: none;
        display: flex;

        & li {
            margin: 0 1rem;

            & a {
                text-decoration: none;

            }
        }
    }

    & .button {
        width: 100px;
        height: 40px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        & a {
            color: #0077b5;
            text-decoration: none;
            font-weight: bold;
        }
    }
}