.number_container {
    height: 300px;
    background-color: #0077b5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .number_items {
        color: white;
        margin: 0 50px;

        & h3 {
            font-size: 48px;
            font-weight: bold;
        }

        & p {
            font-size: 24px;
            font-weight: bold;
        }

    }
}